body {
    font-family: "Muli", sans-serif;
    background-color: black;
    color: #939393;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 25px;
    min-width: 1020px;
}

a {
    color: #d3d3d3;
    text-decoration: none;
    font-weight: bold;
}

canvas {
    background-color: black;
    border-bottom: 2px solid white;
}

p {
    font-size: 10px;
}

.decreasebelow {
    margin-bottom: 0;
    padding-bottom: 0;
}

.decreaseabove {
    margin-top: 0;
    padding-top: 0;
}